{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if campaigns %}

<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          
          <div class="row">
            <div class="col-md-9">
              <h3 class="text-primary">All Campaigns</h3>
            </div>
            <div class="col-md-3">
              <a href="{% url 'create_campaign' %}" class="btn btn-primary">Create Campaign</a>
            </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Campaign Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date Created</th>
                </tr>
              </thead>
              <tbody>
            {% for campaign in campaigns  %}
            <input type="hidden" value="{{campaign.pk}}" id="camp">
                <tr>
                  <td>
                    <div class="d-flex px-2">                      
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm"><a href="">{{campaign.title}}</a></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{campaign.status}}</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">{{campaign.created_at}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'send_campaign' campaign.pk %}" class="startc btn btn-success btn-sm mb-0">
                      Start Sending
                    </a>
                  </td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% else %}
  <div class="row"  style="border:solid 1px white">
    <div class="col-md-12 text-center" style="margin:auto; " >
      <img src="{% static 'img/empty.png' %}" width="250">
    </div>
    <div class="col-md-12 text-center" >
      <h3 style="margin-bottom:0">Opsssss! Seems like you have no campaigns ! </h3>
      <h4><a class="text-primary" href="{% url 'create_campaign' %}">Click here </a> to create your first campaign ! </h4>
    </div>
  </div>
{% endif %}

{% endblock content %}
{% block scripts %}
<script>

$(document).ready( function(){
  $(document).on('click' ,'.startc', function(e) {
    e.preventDefault();

    $.ajax({
      method: "GET",
      url : $('.startc').attr('href'),
      success : function(data){
        console.log(data);
      }
    });
  });
});
</script>

{% endblock scripts %}




